<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
-->

{% load static %}




<!DOCTYPE HTML>
<html>
	<head>
		<title>GAME SHOP</title>
		<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary JavaScript plugins) -->
		<script src="{% static 'js/bootstrap.js' %}"></script>
		<!-- Custom Theme files -->
		<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
		<!-- Custom Theme files -->
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Adventure Gaming  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<script src="{% static 'js/jquery.min.js' %}"></script>

		<style>
			body{
				background-color: #121212;
			}
		</style>

	</head>
	<body>
		<!-- header -->
		<div class="top-banner">
	 		<div class="header">
		 		<div class="container">
			 		<div class="headr-left">
				 		<div class="social">							
							<a href="https://www.facebook.com/"><i class="facebook"></i></a>
							<a href="https://www.twitter.com/"><i class="twitter"></i></a>
							<a href="https://www.google.com/"><i class="gplus"></i></a>	
							<a href="https://www.instagram.com/"><i class="pin"></i></a>	
							<a href="https://www.youtube.com/"><i class="youtube"></i></a>	
				 </div>
				 <div class="search">
					 <form>
						 <input type="submit" value="">
						 <input type="text" value="" placeholder="Search...">					 
					 </form>
				 </div>
				 <div class="clearfix"></div>
			 </div>
			 <div class="headr-right">
				 <div class="details">
					 <ul>
						 <li><a href="/index/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>www.GameStore.com</a></li>
						 <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>(+1) 000 123 456789</li>
					 </ul>
				 </div>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
	 <!--banner-info-->	
	 <div class="banner-info">
		<div class="container">
			<div class="logo">
			   <h1><a href="/index/" style="color: f2f2f2;font-size: 50px; font-weight: 600;">GAME STORE</a></h1>
			</div>
		   <div class="top-menu">
			   <span class="menu"></span>
			  <ul class="nav1">
				   <li class="active"><a href="/index/" style="border: 1px solid;border-radius: 10px; font-weight: 700;">Home</a></li>
				   <li><a href="/login/" style="border: 1px solid;border-radius: 10px; margin-left: 10px; font-weight: 700;">Log In</a></li>
				   <li><a href="/userreg/" style="border: 1px solid;border-radius: 10px; margin-left: 10px; font-weight: 700;" >User Registration</a></li>	 
				</ul>
		   </div>	
	 <!-- script-for-menu -->
						<script>
							 $( "span.menu" ).click(function() {
							$( "ul.nav1" ).slideToggle( 300, function() {
							// Animation complete.
								});
								});
						</script>
					<!-- /script-for-menu -->
			 
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!-- banner -->
<br>
<br>
<br>


<br>
<br>
<br>
{% block content %}
{% endblock %}


<br>
<br>
<br>


<br>
<br>
<br>





<!-- footer -->
<div class="footer">
	 <div class="container">
		 <div class="footer-grids">
			 <div class="col-md-3 ftr-info">
				 <h3>About Us</h3>
				 <p>Sed faucibus mollis laoreet. Sed vehicula faucibus tristique lectus a orci molestie finibus. 
				 Suspendisse pharetra, metus sed rutrum pretium.</p>
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h3>Categories</h3>
				 <ul class="ftr-list">
					 <li><a href="#">Action</a></li>
					 <li><a href="#">Racing</a></li>
					 <li><a href="#">Adventure</a></li>
					 <li><a href="#">Simulation</a></li>
					 <li><a href="#">Bike</a></li>
				 </ul>				 
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h3>Platform</h3>
				 <ul class="ftr-list">
					 <li><a href="#">PC</a></li>
					 <li><a href="#">PS4</a></li>
					 <li><a href="#">XBOX 360</a></li>					 
					 <li><a href="#">XBOX ONE</a></li>
					 <li><a href="#">CONSOLE</a></li>
				 </ul>				 
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h3>Information</h3>
				 <ul class="ftr-list">	
					 <li><a href="#">Contact Us</a></li>
					 <li><a href="#">Wish Lists</a></li>
					 <li><a href="#">Site Map</a></li>
					 <li><a href="#">Terms & Conditions</a></li>					 
				 </ul>				 
			 </div>		
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="copywrite">
	 <div class="container">
		 <p> © 2020 Adventure Gaming. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	 </div>
</div>
<!---->
</body>
</html>