{% extends 'admin/adminbase.html' %}
{% block content %}






<div class="contact">
    <div class="container">
        <div class="contact-head" style="border: 1px solid; border-radius: 20px; margin-top: -50px; padding-top: 30px;">
             <h2>Add Product</h2>
             <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="col-md-6 contact-left">
                  
                   <input type="text" class="text" name="productname" placeholder="Product Name" required>
                   <select name="category">
                       <option>Select your category</option>
                       {% for i in data %}
                       <option value="{{i.1}}">{{i.1}}</option>
                       {% endfor %}
                   </select>



                   <input type="text" class="text" name="discription" placeholder="Description" required>
                   <input type="text" class="text" name="price" placeholder="Price" required>
                 <b style="color: #87655B;">Upload Image 1</b> <input type="file" class="text" name="image1" placeholder="Upload Image 1" required>
                 <b style="color: #87655B;">Upload Image 2</b> <input type="file" class="text" name="image2" placeholder="Upload Image 2" required>
                 <b style="color: #87655B;">Upload Image 3</b><input type="file" class="text" name="image3" placeholder="Upload Image 3" required>
                 <b style="color: #87655B;">Upload Executable File</b><input type="file" class="text" name="game" placeholder="Upload Executable File" required>
                  
                
                 
                 
                 
                 <input type="submit" value="ADD" style="margin-left: 480px; width: 150px; box-shadow: 0 0 10px 3px #4a4a4a ;height: 30px;border: none; border-radius: 10px; padding-top: 0px;"/>
                </div>
               
                      
               
                <div class="clearfix"></div>
            </form>
        </div>
        		 
    </div>
</div>





{% endblock %}