{% extends 'common/commonbase.html' %}
{% block content %}






<div class="contact">
    <div class="container">
        <div class="contact-head" style="border: 1px solid;border-radius: 20px; background-color: #fff; margin-top: -40px; padding-top: 20px;">
             <h2> REGISTER </h2>
             <form method="post">
                {% csrf_token %}
                 <div class="col-md-6 contact-left">
                  
                   <input type="text" class="text" name="name" placeholder=" NAME " required>
                   <input type="text" class="text" name="address" placeholder=" ADDRESS " required>
                   <input type="email" class="text" name="email" placeholder=" E-MAIL " required>
                   <input type="text" class="text" name="phoneno" placeholder=" MOBILE " required>
                   <input type="password" class="text" name="password" placeholder=" PASSWORD " required>
                   <input type="submit" value="REGISTER" style="margin-left: 470px; width: 180px; box-shadow: 0 0 10px 3px #4a4a4a ;height: 30px;border: none; border-radius: 10px; padding-top: 0px;"/>
                </div>
               
                      
               
                <div class="clearfix"></div>
            </form>
        </div>
        		 
    </div>
</div>





{% endblock %}